@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap');

/* Universal styling starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Universal styling ends */

html, body{
    font-family: "Kumbh Sans", sans-serif;
    background-color: #F4F6F8;
}
:root{
    --btn1-default: #5964e0;
    --btn1-hover: #939BF4;
    --bg-midnight: #121721;
    --very-dark-blue: #19202d;
    --dark-grey: #6e8098;
    --grey: #9daec2;
    --white: #ffffff;
    --light-grey: #f4f6f8;
}
main.container{
    position: relative;
    max-width: 100%;
    height: 1620px;
}
.bg-pattern-header{
    position: absolute;
    width: 100%;
    height: 160px;
    background-image: url(./assets/desktop/bg-pattern-header.svg);
    background-position: cover;
    background-repeat: no-repeat;
}
.title{
    position: absolute;
    left: 165px;
    top: 44px;
    color: var(--white);
    text-transform: lowercase;
}
.sun svg{
    position: absolute;
    width: 20px;
    height: 19px;
    left: 1163px;
    top: 48px;
}
.switch-mode{
    position: absolute;
    width: 48px;
    height: 24px;
    top: 45px;
    left: 1199px;
    border-radius: 12px;
    background-color: var(--white);
}
.oval{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 5px;
    background-color: var(--btn1-default);
    border-radius: 50%;
}