@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap');

/* Universal styling starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Universal styling ends */

html, body{
    font-family: "Kumbh Sans", sans-serif;
    background-color: #F4F6F8;
}
body.dark{
    background-color: var(--bg-midnight);
}
:root{
    --btn1-default: #5964e0;
    --btn1-hover: #939BF4;
    --bg-midnight: #121721;
    --very-dark-blue: #19202d;
    --dark-grey: #6e8098;
    --grey: #9daec2;
    --white: #ffffff;
    --light-grey: #f4f6f8;
}
main.container{
    position: relative;
    max-width: 100%;
    height: 1620px;
}

/* Header styling starts */
.bg-pattern-header{
    position: absolute;
    width: 100%;
    height: 160px;
    background-image: url(./assets/desktop/bg-pattern-header.svg);
    background-position: cover;
    background-repeat: no-repeat;
}
.title{
    position: absolute;
    left: 165px;
    top: 44px;
    color: var(--white);
    text-transform: lowercase;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
}
.sun svg{
    position: absolute;
    width: 20px;
    height: 19px;
    left: 1103px;
    top: 48px;
}
.switch-mode{
    position: absolute;
    width: 48px;
    height: 24px;
    top: 45px;
    left: 1139px;
    border-radius: 12px;
    background-color: var(--white);
    cursor: pointer;
}
.oval{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 5px;
    background-color: var(--btn1-default);
    border-radius: 50%;
}
.oval.active{
   transform: translateX(calc(48px - 24px));
}
.moon{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1203px;
    top: 48px;
}
/* Header styling ends */

/* Filter section starts */
.filter-section{
    position: absolute;
    left: 165px;
    top: 120px;
    width: 80%;
    height: 80px;
    background-color: var(--white);
    border-radius: 6px;
    display: flex;
}
.filter-section.dark{
    background-color: var(--bg-midnight);
}
.filter-by-title_company_expertise{
    position: absolute;
    left: 30px;
    top: 28px;
}
.search-icon{
    background-image: url(./assets/desktop/icon-search.svg);
    background-position: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.filter-text{
    margin-left: 35px;
    margin-top: -25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--very-dark-blue);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.filter-text.light{
    color: var(--white);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.hr1{
    margin-left: 380px;
    background: #6E8098;
    mix-blend-mode: normal;
    opacity: 0.2;
}
.hr2{
    margin-left: 300px;
    background: #6E8098;
    mix-blend-mode: normal;
    opacity: 0.2;
}
.filter-by-location{
    position: absolute;
    left: 420px;
    top: 28px;
}
.location-icon{
    position: absolute;
    background-image: url(./assets/desktop/icon-location.svg);
    background-position: cover;
    background-repeat: no-repeat;
    width: 17px;
    height: 42px;
}
.location-text{
    margin-left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #19202D;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.location-text.light{
    color: var(--white);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.fulltime-only{
    position: absolute;
    top: 28px;
    left: 720px;
}
.checkbox{
    position: absolute;
    width: 24px;
    height: 24px;
    background: var(--very-dark-blue);
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 3px;
}
.checkbox.light{
    background-color: var(--white);
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 3px;
}
.fulltime-text{
    margin-left: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--very-dark-blue);
}
.fulltime-text.light{
    color: var(--white);
}
.search{
    position: absolute;
    width: 123px;
    height: 48px;
    top: 15px;
    left: 900px;
    background-color: var(--btn1-default);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
/* Filter section ends */

/* Job content and description starts */
.container-1{
    position: absolute;
    left: 165px;
    top: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 1132px;
    width: 80%;
    
}
.row{
    width: 330px;
    height: 228px;
    background: var(--white);
    border-radius: 6px;
}
.row.dark{
    background-color: var(--very-dark-blue);
}
.postedAt{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-grey);
    margin-top: 35px;
    margin-left: 20px
}
.job-title{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--very-dark-blue);
    margin-top: 65px;
    margin-left: 20px;
}
.job-title.light{
    color: var(--white);
}
.company-name{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-grey);
    margin-top: 100px;
    margin-left: 20px;
}
.country{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--btn1-default);
    margin-top: 180px;
    margin-left: 20px;
}
.logo-scoot{
    position: absolute;
    background-image: url(./assets/logos/scoot.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:  #E99210;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-blogr{
    position: absolute;
    background-image: url(./assets/logos/blogr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:  #E54D25;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-vector{
    position: absolute;
    background-image: url(./assets/logos/vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:   #34353F;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-officelite{
    position: absolute;
    background-image: url(./assets/logos/officelite.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:    #2F4FC7;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-pod{
    position: absolute;
    background-image: url(./assets/logos/pod.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:    #132034;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-creative{
    position: absolute;
    background-image: url(./assets/logos/creative.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:     #4E1853;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-pomodoro{
    position: absolute;
    background-image: url(./assets/logos/pomodoro.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:     #4722C6;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-maker{
    position: absolute;
    background-image: url(./assets/logos/maker.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:      #21427D;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-coffeeroasters{
    position: absolute;
    background-image: url(./assets/logos/coffeeroasters.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:      #F2DECB;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-mastercraft{
    position: absolute;
    background-image: url(./assets/logos/mastercraft.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:      #1F1F1F;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-crowdfund{
    position: absolute;
    background-image: url(./assets/logos/crowdfund.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:    #37C790;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
.logo-typemaster{
    position: absolute;
    background-image: url(./assets/logos/typemaster.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color:     #F16718;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-top: -30px;
    margin-left: 20px;
}
/* Job content and description ends */

/* Footer section starts */
footer{
    position: absolute;
    margin-top: -120px;
    margin-left: 50%;
}
button.load-more{
    width: 141px;
    height: 48px;
    background-color: var(--btn1-default);
    border-radius: 5px;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
}
/* Footer sections ends */

/* Media query for both mobile and tablet mode starts here */

@media only screen and (max-width: 500px){
    main.container{
        position: relative;
        max-width: 100%;
        height: 3650px;
    }
    .location-text,.location-icon,.search-icon,.fulltime-only,.hr1,.hr2,span,.search{
        display: none;
    }
    .bg-pattern-header{
        position: absolute;
        width: 100%;
        height: 136px;
        background-image: url(./assets/mobile/bg-pattern-header.svg);
        background-position: cover;
        background-repeat: no-repeat;
    }
    .title{
        position: absolute;
        top: 32px;
        left: 24px;
    }
    .sun svg{
        margin-left: -860px;
    }
    .switch-mode{
        margin-left: -860px;
    }
    .moon{
        margin-left: -860px;
    }
    .container-1{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 327px;
        height: 3300px;
        left: 24px;
        top: 280px;
    }
    .filter-section{
        width: 327px;
        left: 24px;
    }
    .filter-text{
        margin-top: 2px;
        margin-left: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--very-dark-blue);
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .icon-filter{
        position: absolute;
        background-image: url(./assets/mobile/icon-filter.svg);
        background-position: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-left: -220px;
    }
    .mobile-btn{
        position: absolute;
        background-image: url(./assets/desktop/icon-search.svg);
        background-position: cover;
        background-repeat: no-repeat;
        width: 48px;
        height: 48px;
        background-color: var(--btn1-default);
        border-radius: 5px;
        margin-left: 260px;
        top: 15px;
        fill: #fff;
    }
    footer{
        position: absolute;
        top: 3700px;
        left: -70px;
    }
}